@model List<Socials>
@{
    ViewData["Title"] = "Socials Page";
}

<h2>Socials</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td><a href="@item.URL">@item.URL</a></td>
            </tr>
        }
    </tbody>
</table>